@if (Model != null)
{
    <div class="col-12 col-md-3">
        <div class="card">
            <div class="card-header bg-success text-white text-uppercase">
                <i class="fa fa-heart"></i> Top product
            </div>
            <NavLink href="@($"/Product/{Model.Id}")">
                <img asp-append-version="true" class="img-fluid border-0" src="/images/product/@Model.ImageFile" alt="Card image cap">
            </NavLink>
            <div class="card-body">
                <h4 class="card-title text-center">
                    <NavLink href="@($"/Product/{Model.Id}")" title="View Product">
                        @Model.Name
                    </NavLink>
                </h4>
                <div class="row">
                    <div class="col">
                        <p class="btn btn-danger btn-block">@Model.Price $</p>
                    </div>
                    <div class="col">
                        <NavLink href="@($"/Product/{Model.Id}")" class="btn btn-success btn-block">
                            View
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public CatalogModel Model { get; set; }

}
