@page "/CheckOut"
@inject IBasketService BasketService
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Cart">Cart</a></li>
                    <li class="breadcrumb-item active" aria-current="page">CheckOut</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">@Cart.Items.Count</span>
            </h4>
            <ul class="list-group mb-3">

                @foreach (var item in Cart.Items)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@item.ProductName</h6>
                            <small class="text-muted">@item.ProductName</small>
                        </div>
                        <span class="text-muted">$@item.Price</span>
                    </li>
                }

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$@Cart.TotalPrice</strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <EditForm OnValidSubmit="OnCheckout" Model="Order">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <InputText @bind-Value="Order.FirstName" class="form-control" id="firstName" />
                        <ValidationMessage For="@(() => Order.FirstName)" class="invalid-feedback" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <InputText @bind-Value="Order.LastName" class="form-control" id="lastName" />
                        <ValidationMessage For="@(() => Order.LastName)" class="invalid-feedback" />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@@</span>
                        </div>
                        <InputText @bind-Value="Order.UserName" class="form-control" placeholder="Username" />
                        <ValidationMessage For="@(() => Order.UserName)" style="width: 100%;" class="invalid-feedback" />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <InputText @bind-Value="Order.EmailAddress" class="form-control" id="email" placeholder="you@example.com" />
                    <ValidationMessage For="@(() => Order.EmailAddress)" class="invalid-feedback" />
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <InputText @bind-Value="Order.AddressLine" class="form-control" id="address" placeholder="1234 Main St" />
                    <ValidationMessage For="@(() => Order.AddressLine)" class="invalid-feedback" />
                </div>

                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <InputText @bind-Value="Order.AddressLine2" class="form-control" id="address2" placeholder="Apartment or suite" />
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <InputSelect @bind-Value="Order.Country" class="custom-select d-block w-100" id="country">
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => Order.Country)" class="invalid-feedback" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <InputSelect @bind-Value="Order.State" class="custom-select d-block w-100" id="state">
                            <option value="">Choose...</option>
                            <option>California</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => Order.State)" class="invalid-feedback" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <InputText @bind-Value="Order.ZipCode" class="form-control" id="zip" placeholder="" />
                        <ValidationMessage For="@(() => Order.ZipCode)" class="invalid-feedback" />
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">Payment</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input @bind-value="Order.PaymentMethod" id="credit" name="paymentMethod" type="radio" class="custom-control-input">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input @bind="Order.PaymentMethod" id="debit" name="paymentMethod" type="radio" class="custom-control-input">
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input @bind-value="Order.PaymentMethod" id="paypal" name="paymentMethod" type="radio" class="custom-control-input">
                        <label class="custom-control-label" for="paypal">Paypal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <InputText @bind-Value="@Order.CardName" class="form-control" id="cc-name" placeholder="" />
                        <small class="text-muted">Full name as displayed on card</small>
                        <ValidationMessage For="@(() => Order.CardName)" class="invalid-feedback" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <InputText @bind-Value="@Order.CardNumber" class="form-control" id="cc-number" placeholder="" />
                        <ValidationMessage For="@(() => Order.CardNumber)" class="invalid-feedback" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label asp-for="Order.Expiration" for="cc-expiration">Expiration</label>
                        <InputDate @bind-Value="Order.Expiration" class="form-control" id="cc-expiration" placeholder="" />
                        <ValidationMessage For="@(() => Order.Expiration)" class="invalid-feedback" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <InputText @bind-Value="Order.CVV" class="form-control" id="cc-cvv" placeholder="" />
                        <ValidationMessage For="@(() => Order.CVV)" class="invalid-feedback" />
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Checkout Order</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    public BasketModel Cart { get; set; } = new BasketModel();

    [Parameter]
    public BasketCheckoutModel Order { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var userName = "swn";
        Cart = await BasketService.GetBasket(userName);
    }

    public async Task OnCheckout()
    {
        var userName = "swn";
        Cart = await BasketService.GetBasket(userName);

        Order.UserName = userName;
        Order.TotalPrice = Cart.TotalPrice;

        await BasketService.CheckoutBasket(Order);

        NavigationManager.NavigateTo("/Confirmation?checkout=true");
    }
}
